{% extends 'dashboard.html.twig' %}

{% trans_default_domain 'app' %}

{% block body %}
    <h1>{{ 'users'|trans }}</h1>
    <div class="mb-3">
        <a href="{{ path('create_user') }}" class="btn btn-success">{{ 'create'|trans }}</a>
    </div>
    {% if users and users|length %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>{{ 'email'|trans }}</th>
                    <th>{{ 'actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.email }}</td>
                        <td>
                            <a href="{{ path('update_user', {'id': user.id}) }}" class="btn btn-primary mb-1">
                                {{ 'edit'|trans }}
                            </a>
                            <a href="{{ path('delete_user', {'id': user.id}) }}" onclick="return confirm('{{ 'are_you_sure_you_want_to_delete'|trans }}');" class="btn btn-danger mb-1">
                                {{ 'delete'|trans }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="my-3">
            {{ knp_pagination_render(users) }}
        </div>
    {% else %}
        <div class="mt-3">{{ 'no_records'|trans }}</div>
    {% endif %}
{% endblock %}
